.manage-users{
    tr{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    }

    tr.title{
        color: gray;
    }
    .icon{
        display: flex;
        color: rgba(128, 128, 128, 0.732);
      }
  
      .delete-icon, .edit-icon{
        padding: .4rem;
        border-radius: .3rem;
        box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 0 -20px 10px -20px rgba(0,0,0,0.45) inset, 20px 0 10px -20px rgba(0,0,0,0.45) inset;

    }
      .delete-icon, .edit-icon, .save-icon{
        cursor: pointer !important;
        margin: 0 .5rem;
        transition: all .2s ease-in;
    }

    .delete-icon{
        color:red;
    }

    .text-table{
        color: gray;
    }
}