.label-text{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.55);
}

.input-form{
    border: 0 !important;
    background-color: transparent !important;
    border-bottom: 1px solid rgb(212, 217, 215) !important;
    padding: .6rem !important;
    color: rgb(76, 91, 82) !important;

}

.info-perso{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}

.edit-user-profil{
    .es-inputs, .es-textarea{
        outline: none;
    }
    .es-inputs-title{
        color: gray;
        font-weight: bold;
    }
    .es-inputs:focus, .es-textarea:focus{
        box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
        // box-shadow: 0 -20px 10px -20px rgba(0,0,0,0.45) inset, -20px 0 10px -20px rgba(0,0,0,0.45) inset;
    }
    .es-inputs{
        border: 0;
        padding: .4rem;
        box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);
        margin-bottom: 1rem;
    }
    .es-textarea{
        margin-bottom: 2rem;
        border: 0;
        box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);
        padding: .4rem;
        color: rgba(0, 0, 0, 0.526);
    }
    .es-button{
        border: 0;
        color: rgb(69, 223, 190);
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8rem;
        background-color: rgb(255, 255, 255);
        padding: .6rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    .es-button:hover{
        background-color: rgb(69, 223, 190);
        color:white;
        box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
    }
    .es-button-delete{
        font-size: .8rem;
        font-weight: bold;
        text-transform: uppercase;
        color:gray;
    }
    .es-appliquer{
        font-size: 1rem;
        padding: .6rem;
        transition: all .2s ease-in;
        border-radius: 1rem;
    }

    .es-appliquer:hover{
        padding: .5rem 1rem;
        color: white !important;
        border-radius: 1rem;
        background-color:  rgb(69, 223, 190) !important;
        box-shadow: 0px 25px 80px rgba(23, 246, 235, 0.93);
    }

    .es-subtitle{
        margin: 1rem 0;
        color: rgb(137, 154, 152) !important;
        font-weight: bold;
        font-size: 1rem !important;
        text-transform: uppercase;
    }
    .input-row {
        display: flex;
        align-items: center;
    }
      
    .input-row input {
        flex: 1;
        margin-right: 10px;
        color: gray;
        background-color: white;
        
    }

    .es-info-img{
        .es-subtitle{
            font-weight: bolder;
        }
    }
}

.es-inputs-title2{
    color: gray !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

    .edit-user-profil::-webkit-scrollbar {
        width: 2px;
    }

    .edit-user-profil::-webkit-scrollbar-track {
        background-color: #ffffff; 
    }

    .edit-user-profil::-webkit-scrollbar-thumb {
        background-color: rgb(238, 232, 232);
        border-radius: 5px;
    }

    .edit-user-profil::-webkit-scrollbar-thumb:hover {
        background-color: rgb(255, 255, 255); 
    }